<form [formGroup]="form" class="bst-bc-form">
  <!--
    <mat-form-field>
      <mat-select matInput formControlName="budgetCategory" placeholder="Category">
        <mat-option *ngFor="let cat of budgetCategoryService.budgetCategories | async" [price]="cat.id">
          {{ cat.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    -->
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput formControlName="displayOrder"  placeholder="DisplayOrder">
  </mat-form-field>
  <span>
    <button mat-button color="accent" (click)="saveSubCategory()">Save</button>
    <button mat-button [routerLink]="newLink">New</button>
  </span>
</form>
