@import '../../../themes/bmg-first';

$accentPalette: map-get($bmg-bst-theme, accent);


.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 0 0.2rem;
  font-size: 12px;

  .mat-form-field {
    vertical-align: bottom;
    margin: 0 1rem;
    width: 10rem;
  }
}

mat-cell, mat-header-cell {
  padding: 0rem 1rem;
}

.mat-column-select {
  flex-grow: 0;
  flex-basis: 1rem;
}

.mat-row:hover {
  cursor: pointer;
  background-color: mat-color($accentPalette, 100);
}


.mat-column-purchaseOrder-status {
  flex-grow: 0;
  flex-basis: 1.9rem;
}

.mat-column-spendType-title {
  flex-grow: 1;
}

.mat-column-project-projectName {
  flex-grow: 1;
}

.mat-column-purchaseOrder-purchaseOrderNumber {
  flex-grow: 0;
  flex-basis: 6rem;
}

.mat-column-orderNumber {
  flex-grow: 0;
  flex-basis: 1rem;
}

.mat-column-description {
  flex-grow: 1;
  flex-basis: 5rem;
}

.mat-column-vendor {
  flex-grow: 0;
  flex-basis: 4rem;
}

.mat-column-territory {
  flex-grow: 0;
  flex-basis: 5rem;
}

.mat-column-total {
  flex-grow: 0;
  flex-basis: 5rem;
  text-align: right;
}

.mat-column-createdBy {
  flex-grow: 0;
  flex-basis: 5rem;
}
