
<ng-container *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</ng-container>

<div class="toolbar-container">
  <button mat-icon-button color="accent" (click)="downloadOrders()" [disabled]="selectedPurchaseOrderPositionIds.length == 0">
    <mat-icon>file_download</mat-icon>
  </button>
  <mat-form-field>
    <input matInput placeholder="Filter By Status" #filterStatusInput class="po-filter" [value]="storeService.statusFilter | async">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Filter By Project or SAP" #filterProjectInput class="po-filter" [value]="storeService.projectFilter | async">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Filter By Spend Type Code" #filterSpendTypeInput class="po-filter" [value]="storeService.spendTypeFilter | async">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Filter By PO #" #filterPoNumberInput class="po-filter" [value]="storeService.purchaseOrderNumberFilter | async">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Filter By Vendor" #filterVendorInput class="po-filter" [value]="storeService.vendorFilter | async">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Filter By Territory" #filterCountryInput class="po-filter" [value]="storeService.territoryFilter | async">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Filter By Creator" #filterCreatedByInput class="po-filter" [value]="storeService.createdByFilter | async">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="project" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="selectAll($event)"
      >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="onSelectPurchaseOrderPosition($event, row)"
        [checked]="selectedPurchaseOrderPositionIds.indexOf(row.id) != -1"
      >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchaseOrder.status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.poStatus}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="project.projectName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.projectName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="spendType.title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Spend Type</mat-header-cell>
    <mat-cell *matCellDef="let element"><bst-purchase-order-position-spend-type [country]="element.poCountry" [spendType]="element.spendType"></bst-purchase-order-position-spend-type></mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchaseOrder.purchaseOrderNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header>PO Line #</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.purchaseOrderNumber}}#{{element.lineNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchaseOrder.vendor.name1">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.vendorName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchaseOrder.country.countryName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Territory</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.countryName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef mat-sort-header>PO Total</mat-header-cell>
    <mat-cell *matCellDef="let element"><bst-currency-value-display [currency]="element.currency" [value]="element.total" [maxDecimalPlaces]="2"></bst-currency-value-display></mat-cell>
  </ng-container>

  <ng-container matColumnDef="paid">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Paid</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <bst-currency-value-display [currency]="element.currency" [value]="element.paid"
                                  [maxDecimalPlaces]="2"></bst-currency-value-display>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="openPo">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Open PO</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <bst-currency-value-display [currency]="element.currency" [value]="element.openPo"
                                  [maxDecimalPlaces]="2"></bst-currency-value-display>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Created By</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.createdBy}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

  <mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="gotToPurchaseOrderDetails(row)"></mat-row>
</mat-table>
<bst-custom-paginator
               [length]="dataSource.totalPurchaseOrderPositionCount$ | async"
               [pageSize]="appConfig.defaultPageSize"
               [pageSizeOptions]="appConfig.choosablePageSizes"
               [showFirstLastButtons]="true"
               (page)="changePage($event)">
</bst-custom-paginator>
