<div *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</div>
<bst-custom-paginator
  [length]="dataSource.totalCompanyCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
  <div style="padding: 15px;"><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/companies/import'>Manage Companies</button></div>
</bst-custom-paginator>
<mat-table #table [dataSource]="dataSource" matSort matSortActive="companyName" matSortDirection="desc" matSortDisableClear>
  <ng-container matColumnDef="companyName">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["companyName"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="companyCode">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["companyCode"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="country">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.country?.countryName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="sapCompanyCode">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>SAP Company Code</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["sapCompanyCode"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="international">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>International</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item">
      <ng-container *ngIf="item['international']"><mat-icon>check</mat-icon></ng-container>
      <ng-container *ngIf="!item['international']"><mat-icon>close</mat-icon></ng-container>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['companyName', 'companyCode', 'country', 'sapCompanyCode', 'international']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['companyName', 'companyCode', 'country', 'sapCompanyCode', 'international'];"></mat-row>
</mat-table>
<bst-custom-paginator
               [length]="dataSource.totalCompanyCount$ | async"
               [pageSize]="appConfig.defaultPageSize"
               [pageSizeOptions]="appConfig.choosablePageSizes"
               [showFirstLastButtons]="true"
               (page)="changePage($event)">
</bst-custom-paginator>


