<div class="bst-app-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="/assets/images/bmg_logo.png" alt="">&nbsp;&#448;&nbsp;
    <span class="align-center">Spend Tracker</span>&nbsp;
    <mat-icon>account_balance_wallet</mat-icon>&nbsp;
    <span class="align-center"><bst-active-route-title></bst-active-route-title></span>
    <!-- Display fullname of user, dropdown with logout link and maybe later profile-link.-->
    <span class="fill-space"></span>
    <mat-form-field>
      <mat-placeholder>{{(storeService.user | async)?.fullname}}</mat-placeholder>
      <mat-select class="maxWidth250" (selectionChange)="onUserDropdownChanged($event)">
        <mat-option [value]="'currency'" [disabled]="true">Currency: {{(storeService.user | async)?.defaultCurrency.currencyName}} ({{(storeService.user | async)?.defaultCurrency.currencySymbol}})</mat-option>
        <mat-option [value]="'logout'" class="logout">Logout</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <mat-sidenav-container class="bst-sidenav-container" [autosize]="true">
    <mat-sidenav #sidenav mode="side" opened="true" [fixedInViewport]="false">
      <mat-nav-list *ngIf="isAuthenticated">
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/budget-categories' mat-list-item routerLinkActive="active-link">Budget Categories</a>
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/exchange-rates' mat-list-item routerLinkActive="active-link">Exchange Rates</a>
        <mat-divider></mat-divider>
        <a routerLink='/orders' mat-list-item routerLinkActive="active-link">Purchase Orders</a>
        <mat-divider></mat-divider>
        <a routerLink='/projects' mat-list-item routerLinkActive="active-link">Projects</a>
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/currencies' mat-list-item routerLinkActive="active-link" >Currencies</a>
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/companies' mat-list-item routerLinkActive="active-link" >Companies</a>
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/countries' mat-list-item routerLinkActive="active-link" >Countries</a>
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/vendors/import' mat-list-item routerLinkActive="active-link" >Manage Vendors</a>
        <mat-divider></mat-divider>
        <a *hasRole="'bmg-spendtracker-admin'" routerLink='/raw-postings' mat-list-item routerLinkActive="active-link">Raw
          Postings</a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="bst-content">
      <router-outlet>

      </router-outlet>
      <bst-version-footer></bst-version-footer>
    </div>
  </mat-sidenav-container>

</div>
