@import '../themes/bmg-first.scss';

$primaryPalette: map-get($bmg-bst-theme, primary);
$warnPalette: map-get($bmg-bst-theme, warn);

mat-option.logout {
  background: mat-color($warnPalette, 400);

  &:hover {
    background: mat-color($warnPalette, 600);
  }
}

.bst-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  mat-sidenav-container {
    flex: 1;

    .bst-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .bst-content {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0;
    }

    .mat-drawer {

      background-color: map-get($primaryPalette, 800);

      .mat-nav-list {
        padding: 0;
      }

      .mat-list-item {
        height: 4rem;
        font-size: 0.9rem;
        color: mat-contrast($primaryPalette, 900);
      }

      .mat-list-item:hover {
        background-color: rgba(0,0,0,0.25);
      }
      .active-link {
        background-color: rgba(0,0,0,0.2);
      }
    }

  }


}



