<div *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</div>
<bst-custom-paginator
  [length]="dataSource.totalProjectCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
  <div class="toolbar-container">
    <div>
      <button *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/projects/import'>Manage
        Projects
      </button>
    </div>
    <div *hasRole="'bmg-spendtracker-user'">
      <div class="select-sub-container">
        <mat-select placeholder="Territory" (selectionChange)="onCountrySelectChange($event)"
                    [(ngModel)]="selectedCountry" [compareWith]="compareCountries">
          <mat-option *ngFor="let country of countryService.sapCountries | async" [value]="country">
            {{country.countryName}}
          </mat-option>
        </mat-select>
      </div>
      <button [disabled]="!(readyToCreate)" mat-raised-button color="accent" routerLink="/orders/create">
        Create Purchase Order
      </button>
    </div>
    <div class="filters-sub-container">
      <mat-form-field>
        <input matInput placeholder="Filter By Project Name" #filterProjectName
               [value]="projectListStoreService.projectFilter | async">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Filter By SAP Client Code" #filterSapClientCode
               [value]="projectListStoreService.sapCodeFilter | async">
      </mat-form-field>
    </div>
  </div>
</bst-custom-paginator>
<mat-table #table [dataSource]="dataSource" matSort matSortActive="projectName" matSortDirection="asc"
           matSortDisableClear>
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="onCheckBoxchange($event, row)"
        [checked]="selectedProject?.id === row.id"
      >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="projectName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *hasRole="'bmg-spendtracker-user-restricted'">{{element.projectName}}</span>
      <a *excludeRole="'bmg-spendtracker-user-restricted'"
         routerLink="/projects/{{element.id}}/overview">{{element.projectName}}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="repertoireOwner">
    <mat-header-cell *matHeaderCellDef>Repertoire Owner</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.repertoireOwnerCompany.companyName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sapClientCode">
    <mat-header-cell *matHeaderCellDef>SAP Client Code</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.sapClientCode}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sapIon">
    <mat-header-cell *matHeaderCellDef>SAP ION</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.ionSap}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row (click)="onProjectChange(row)" *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
</mat-table>
<bst-custom-paginator
  [length]="dataSource.totalProjectCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
</bst-custom-paginator>

