@import '../../../themes/bmg-first';

$accentPalette: map-get($bmg-bst-theme, accent);

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 0 0.2rem;

  .mat-form-field {
    vertical-align: bottom;
    margin: 0 1rem;
    width: 9rem;
  }

  .select-sub-container {
    display: inline-block;
    padding: 1rem;
    width: 6rem;
  }

  button {
    margin: 0.5rem 0;
  }

}

.mat-column-select {
  flex: 0 0 4rem;
  overflow: initial;
}

.mat-row:hover {
  cursor: pointer;
  background-color: mat-color($accentPalette, 100);
}

.mat-column-repertoireOwner, .mat-column-projectName {
  flex-grow: 1;
  flex-basis: 15rem;
}

.mat-column-sapClientCode, .mat-column-sapIon {
  flex-grow: 0;
  flex-basis: 10rem;
}

