<h3 mat-dialog-title>
  <span>{{title}}</span>
</h3>

<mat-dialog-content>
  <div [innerHTML]="description"></div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="accent" [mat-dialog-close]="true">Ok</button>
</mat-dialog-actions>
