<div style="width: 100%">
  <div *hasRole="'bmg-spendtracker-user'">
    <dropzone
      *ngIf="dropzoneReady"
      [config]="config"
      [message]="'Click or drag Attachments here to upload'"
      (error)="onUploadError($event)"
      (success)="onUploadSuccess($event)"
      (complete)="removePreview($event)"
    >
    </dropzone>
  </div>

  <p *ngIf="purchaseOrderPosition?.attachments?.length === 0">
    Currently there are no attachments
  </p>
  <mat-list dense *ngIf="purchaseOrderPosition?.attachments?.length > 0">
    <mat-list-item *ngFor="let attachment of purchaseOrderPosition.attachments" class="attachment-list-item">
      <div style="display: flex;align-items: center;justify-content: space-between;flex-grow: 1;">
        <mat-icon>insert_drive_file</mat-icon>
        <span style="flex-grow:1">{{attachment.filename}}</span>
        <span fxFlexAlign="end">
          <button mat-icon-button (click)="showAttachment(attachment)">
            <mat-icon>get_app</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteAttachment(attachment, $event)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</div>
