@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$bmg-bst-primary: mat-palette($mat-grey, 800);
$bmg-bst-accent:  mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$bmg-bst-warn:    mat-palette($mat-red, 700);

// Create the theme object (a Sass map containing all of the palettes).
$bmg-bst-theme:mat-light-theme($bmg-bst-primary, $bmg-bst-accent, $bmg-bst-warn);

.mat-progress-spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
