  <div class="master">
    <mat-divider></mat-divider>
    <h3>Budget Categories</h3>
    <!-- ST-69
    <bst-budget-category-detail [budgetCategory]="budgetCategoryService.selectedCategory | async"
                                (save)="saveBudgetCategory($event)"
                                (change)="handleChange($event)">
    </bst-budget-category-detail>

    <mat-divider></mat-divider>
    -->
    <div><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/budget-categories/import'>Manage Budget Categories</button></div>
    <div><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/project-budget-spend-types/import'>Manage Project Spend Types</button></div>


    <bst-prefixed-link-list [elements]="budgetCategoryService.budgetCategories | async"
                            labelAttribute="title">
                            <!-- ST-69
                            (deleteItem)="deleteBudgetCategory($event)">
                            -->
    </bst-prefixed-link-list>
  </div>
  <mat-divider vertical></mat-divider>
  <router-outlet></router-outlet>
