<div [formGroup]="poForm" fxLayout="column" *ngIf="purchaseOrder?.positions">
  <bst-purchase-order-header-form
    [disabled]="disabled"
    [group]="poForm"
    [purchaseOrderNumber]="purchaseOrder?.purchaseOrderNumber"
    [country]="purchaseOrder?.country"
    [project]="purchaseOrder?.positions[0].project"
    [currencies]="currencies"
    [purchaseOrder]="purchaseOrder"
    (onDelete)="onDelete.emit()"
  ></bst-purchase-order-header-form>
  <bst-purchase-order-position-list
    [disabled]="disabled"
    [purchaseOrder]="purchaseOrder"
    [positions]="positions"
    [group]="poForm"
    (addPosition)="addPosition()"
    (removePosition)="removePosition($event)"
    (editPosition)="editPosition($event)">
  </bst-purchase-order-position-list>
  <bst-purchase-order-button-bar *hasRole="'bmg-spendtracker-user'"
    (save)="savePurchaseOrder()"
    (close)="saveAsClosed()"
    (submit)="saveAsOpen()"
    (new)="createNewFromCurrent()"
    [currentStatus]="purchaseOrder.status"
  ></bst-purchase-order-button-bar>
</div>
