<form>
  <mat-form-field>
    <input type="text" placeholder="Project" aria-label="Project" matInput [formControl]="projectControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.projectName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
