<div *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</div>
<bst-custom-paginator
  [length]="dataSource.totalExchangeRateCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
  <div style="padding: 15px;"><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/exchange-rates/import'>Manage Exchange-Rates</button></div>
  <div class="toolbar-container" *ngIf="editable">
    <button mat-raised-button color="accent" (click)="onCreateExchangerate()">
      Create Exchange Rate
    </button>
  </div>
</bst-custom-paginator>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="currencyName" matSortDirection="desc" matSortDisableClear>
  <ng-container matColumnDef="exchangeRateName">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["exchangeRateName"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="fromCurrency.currencyCode">
    <ng-container>
      <mat-header-cell *matHeaderCellDef >From Currency</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.fromCurrency?.currencyCode}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="exchangeRateValue">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["exchangeRateValue"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="toCurrency.currencyCode">
    <ng-container>
      <mat-header-cell *matHeaderCellDef >To Currency</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.toCurrency?.currencyCode}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['exchangeRateName', 'fromCurrency.currencyCode', 'exchangeRateValue', 'toCurrency.currencyCode']"></mat-header-row>
  <mat-row (click)="onSelectRow(row)" *matRowDef="let row; columns: ['exchangeRateName', 'fromCurrency.currencyCode', 'exchangeRateValue', 'toCurrency.currencyCode'];"></mat-row>
</mat-table>
<bst-custom-paginator
               [length]="dataSource.totalExchangeRateCount$ | async"
               [pageSize]="appConfig.defaultPageSize"
               [pageSizeOptions]="appConfig.choosablePageSizes"
               [showFirstLastButtons]="true"
               (page)="changePage($event)">
</bst-custom-paginator>
