@import '../../../themes/bmg-first';

$accentPalette: map-get($bmg-bst-theme, accent);

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 0 0.2rem;

  button {
    margin: 0.5rem 0;
  }
}

.mat-row:hover {
  cursor: pointer;
  background-color: mat-color($accentPalette, 100);
}
