$color-bmg-malibu: #51D0FF;
$color-bmg-tundora: #4D4D4D;
$color-bmg-rio-grande: #AFCE06;
$color-bmg-turquoise: #18CCAE;
$color-bmg-supernova: #FFCC00;
$color-bmg-carrot: #F59422;
$color-bmg-monza: #C80031;
$color-bmg-black: #4D4D4D;
$color-bmg-stack: #999999;
$color-bmg-celeste: #EDEDED;
$color-bmg-white: #FFFFFF;
$color-bmg-spice: #A7572C;
$color-bmg-pine-green: #319990;
$color-bmg-jazzberry:#A11762;



