<div *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</div>
<bst-custom-paginator
  [length]="dataSource.totalCountryCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
  <div style="padding: 15px;"><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/countries/import'>Manage Countries</button></div>
</bst-custom-paginator>
<mat-table #table [dataSource]="dataSource" matSort matSortActive="countryName" matSortDirection="desc" matSortDisableClear>
  <ng-container matColumnDef="countryName">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["countryName"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="countryCode">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Country Code</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["countryCode"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="currencyName">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Currency</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.currency?.currencyCode}}<ng-container *ngIf="item.currency"> - {{item.currency?.currencyName}}</ng-container></mat-cell>
  </ng-container>
  <ng-container matColumnDef="sapCountry">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>SAP Country</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["sapCountry"]?'Yes':'No'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="poCountry">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>PO Country</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["poCountry"]?'Yes':'No'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="affiliateBudget">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Affiliate Budget</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.affiliateBudget}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['countryName', 'countryCode', 'currencyName', 'sapCountry', 'poCountry', 'affiliateBudget']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['countryName', 'countryCode', 'currencyName', 'sapCountry', 'poCountry', 'affiliateBudget'];"></mat-row>
</mat-table>
<bst-custom-paginator
               [length]="dataSource.totalCountryCount$ | async"
               [pageSize]="appConfig.defaultPageSize"
               [pageSizeOptions]="appConfig.choosablePageSizes"
               [showFirstLastButtons]="true"
               (page)="changePage($event)">
</bst-custom-paginator>


