<form fxLayoutGap="2rem" class="po-header-header" fxLayout="row" [formGroup]="poForm">
  <div fxLayout="column" fxFlex="grow">
    <mat-form-field>
      <input matInput placeholder="PO #" [value]="purchaseOrderNumber" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Territory" [value]="country?.countryName" disabled>
    </mat-form-field>
    <div fxLayout="row" class="vendor-select">
      <mat-form-field fxFlex="stretch">
        <input type="text" placeholder="Vendor" matInput bstForceAutocomplete formControlName="vendor"
               [matAutocomplete]="autoVendor">
        <mat-autocomplete #autoVendor="matAutocomplete" [displayWith]="displayVendor" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredVendors | async" [value]="option">
            {{ option.name1 }} [{{option.accountNumber}}]
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="poForm.get('vendor').invalid">Please enter a valid vendor</mat-error>
      </mat-form-field>
      <button *ngIf="!disabled && vendorEditable" type="button" mat-icon-button (click)="openVendorDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" fxFlex="grow">
    <mat-form-field>
      <input matInput placeholder="Status" [value]="poForm.get('status').value" disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="PO Currency" formControlName="currency" required [compareWith]="compareResources">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{currency.currencyCode}} ({{currency.currencySymbol}})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="deletable" mat-button fxFlexAlign="end"
            (click)="deletePurchaseOrder()">Delete Purchase Order
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</form>
