<form [formGroup]="form" class="bst-st-form">
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="budgetSpendTypeCode" type="number" placeholder="Spend Type Code">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="glAccount" type="text" placeholder="GL Account">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="ppdRecoupmentPct" placeholder="PPD Recoupment Pct">
    <mat-error *ngIf="form.get('ppdRecoupmentPct').invalid">{{getPpdRecoupmentPctErrorMessage()}}</mat-error>
  </mat-form-field>
  <span *ngIf="!disabled">
      <button mat-button color="accent" (click)="saveSpendType()">Save</button>
      <button mat-button [routerLink]="newLink">New</button>
    </span>
</form>
