<div class="master">
  <h3>Sub-Categories</h3>
  <!-- ST-69
  <bst-budget-subcategory-detail [budgetSubCategory]="budgetSubCategoryService.selectedSubCategory | async" (save)="saveSubCategory($event)" (change)="handleChange($event)"></bst-budget-subcategory-detail>
  -->
  <div><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/budget-sub-categories/import'>Manage Sub Categories</button></div>
  <bst-prefixed-link-list [elements]="budgetSubCategoryService.subCategories | async"
                          labelAttribute="title">
                          <!-- ST-69
                          (deleteItem)="deleteBudgetSubCategory($event)">
                          -->
  </bst-prefixed-link-list>
</div>
<mat-divider vertical></mat-divider>
<router-outlet></router-outlet>
