<mat-nav-list>
  <mat-list-item *ngFor="let item of elements"
                 routerLinkActive="active-link"
                 [routerLink]="[prefix, item.id]">
    <span mat-line>{{ item[labelAttribute]}}</span>

    <button mat-icon-button
            *ngIf="deleteItem.observers.length > 0"
            (click)="$event.preventDefault(); deleteItem.emit(item)">
      <mat-icon matListIcon>delete</mat-icon>
    </button>

  </mat-list-item>
</mat-nav-list>
