@import '../../../themes/bmg-first.scss';
$accentPalette: map-get($bmg-bst-theme, accent);

mat-nav-list {
  .active-link {
    background: map-get($accentPalette, 100);
  }
  mat-list-item ::ng-deep :hover {
    background: map-get($accentPalette, 200);
  }
}
