
<div class="master">
  <h3>Spend Types</h3>
  <div><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/budget-spend-types/import'>Manage Spend-Types</button></div>
  <bst-spend-type-detail [budgetSpendType]="spendTypeService.selectedSpendType | async"></bst-spend-type-detail>

  <bst-prefixed-link-list [elements]="spendTypeService.spendTypes | async"
                          labelAttribute="title">
                          <!-- ST69
                          (deleteItem)="deleteSpendType($event)">
                          -->
</bst-prefixed-link-list>
</div>
