<form [formGroup]="form" class="bst-container">
  <mat-form-field>
    <input matInput formControlName="exchangeRateName" placeholder="Name">
  </mat-form-field>
  <mat-form-field #exchangeRateValue>
    <input matInput formControlName="exchangeRateValue" placeholder="Value">
    <mat-error *ngIf="form.get('exchangeRateValue').invalid">{{getValueErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="From Currency" formControlName="fromCurrency" [compareWith]="currencyCompareFn">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{currency.currencyCode}} ({{currency.currencySymbol}})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="To Currency" formControlName="toCurrency" [compareWith]="currencyCompareFn">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{currency.currencyCode}} ({{currency.currencySymbol}})
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
