<div style="padding:25px;">
  <label class="upload-button">
    <input type="file" class="md-button md-raised md-primary" ngFileSelect [options]="options"
           (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple  accept=".csv">
  </label>

  <button [disabled]="hasUnimportedFiles()" type="button" mat-raised-button color="accent"
          (click)="importRecords()">
    Import {{displayName}}
  </button>

  <button type="button" mat-raised-button color="accent"
          (click)="exportRecords()">
    Export {{displayName}}
  </button>

  <h2>Uploaded Files</h2>

  <div class="mat-row">
    <table mat-table #table [dataSource]="filesDataSource">
      <ng-container matColumnDef="name">
        <ng-container>
          <th mat-header-cell *matHeaderCellDef> Name</th>
        </ng-container>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="status" [stickyEnd]="true">
        <th mat-header-cell *matHeaderCellDef> Progress</th>
        <td mat-cell *matCellDef="let element"> {{ element.progress?.data?.percentage }}%</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <h3>Import Tasks</h3>
  <div *ngIf="importTaskDataSource.loading$ | async">
    <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
  </div>
  <button type="button" mat-raised-button color="accent" (click)="refreshImportTasks()">
    <i class="material-icons">
      refresh
    </i>
  </button>
  <bst-custom-paginator
    [length]="importTaskDataSource.totalTaskCount$ | async"
    [pageSize]="appConfig.defaultPageSize"
    [pageSizeOptions]="appConfig.choosablePageSizes"
    [showFirstLastButtons]="true"
    (page)="changePage($event)">
  </bst-custom-paginator>
  <mat-table #table [dataSource]="importTaskDataSource">
    <ng-container matColumnDef="fileName">
      <ng-container>
        <mat-header-cell *matHeaderCellDef>File Name</mat-header-cell>
      </ng-container>
      <mat-cell *matCellDef="let item"> {{item.fileName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="creationDate">
      <ng-container>
        <mat-header-cell *matHeaderCellDef>Creation Date</mat-header-cell>
      </ng-container>
      <mat-cell *matCellDef="let item"> {{item.createdAt}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <ng-container>
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      </ng-container>
      <mat-cell *matCellDef="let item"> {{item.importStatus}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="result">
      <ng-container>
        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
      </ng-container>
      <mat-cell *matCellDef="let item">
        <button (click)="showImportResults(item)">Show Result</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['fileName', 'status', 'creationDate','result']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['fileName', 'status', 'creationDate','result'];"></mat-row>
  </mat-table>
  <bst-custom-paginator
    [length]="importTaskDataSource.totalTaskCount$ | async"
    [pageSize]="appConfig.defaultPageSize"
    [pageSizeOptions]="appConfig.choosablePageSizes"
    [showFirstLastButtons]="true"
    (page)="changePage($event)">
  </bst-custom-paginator>
</div>


