/* You can add global styles to this file, and also import other style files */
html,body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.bst-container {
  display: flex;
  flex-direction: column;
}

.mat-dialog-container {
  max-height: 90vh;
}

.mat-toolbar {
  mat-form-field {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    .mat-input-underline {
      height: 0;
    }
    .mat-form-field-label {
      color: white;
    }
  }

  .mat-select {
    font-size: 16px;
    &.maxWidth250 {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .mat-select-arrow {
      color: white;
    }
    .mat-select-placeholder, mat-placeholder {
      color: white;
    }
  }
}

.info-panel .mat-dialog-container {
  border-radius: 1.5rem;
}
