@import '../../../themes/bmg-first.scss';
$accentPalette: map-get($bmg-bst-theme, accent);
$warningPalette: map-get($bmg-bst-theme, warn);

[hidden] {
  display: none !important
}

.header-bar {
  padding-left: 2rem;
}

mat-row {
  &.parent {
    cursor: pointer;
    &:not(.collapsed) .title::before {
      content: '\25bc';
      padding-right: 0.5em;
    }
    &.collapsed .title::before {
      content: '\25ba';
      padding-right: 0.5em;
    }
  }
}

mat-row.level-header {
  font-weight: bold;
}

mat-row.level-2 .title {
  margin-left: 2rem;
}

mat-row.level-3 .title {
  margin-left: 4rem;
}
