<div class="header-bar">
  <div fxLayout="row" fxLayoutGap="2rem">
    <bst-country-autocomplete
      (countrySelected)="selectCountry($event)"
      [findByValue]="findByCountryName.bind(this)"
    ></bst-country-autocomplete>
    <div class="hint">
      <p *ngIf="dataExists && !selectedCountry"> Select a territory to show data.</p>
      <p *ngIf="!dataExists || (selectedCountry && !(dataSource.budgets$ | async).length)">No data found.</p>
    </div>

  </div>

</div>
<div class="overview">

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="title" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let row"><span class="title">{{row.title}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="paid">
      <mat-header-cell *matHeaderCellDef>Paid</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.paid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="openPO">
      <mat-header-cell *matHeaderCellDef>Open PO</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.openPo}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="committedSpend">
      <mat-header-cell *matHeaderCellDef>Committed Spend</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.committedSpend}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row (click)="toggle(row)" *matRowDef="let row; columns: columnsToDisplay;"
             [ngClass]="['level-'+row.level, row.isParent ? ' parent' :'',row.collapsed ? 'collapsed' :'']"
             [hidden]="!row.visible"></mat-row>
  </mat-table>
</div>
