<div class="button-bar">
  <button *ngIf="currentStatus !== 'Draft'" mat-raised-button (click)="new.emit()">New PO</button>
  <button *ngIf="currentStatus !== 'Closed'" mat-raised-button (click)="save.emit()">Save</button>
  <button *ngIf="currentStatus === 'Draft'" mat-raised-button color="accent" (click)="submit.emit()">Submit</button>
  <button *ngIf="currentStatus !== 'Closed'" mat-raised-button color="primary" (click)="close.emit()">Close Purchase Order</button>
</div>
