<div *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</div>
<bst-custom-paginator
  [length]="dataSource.totalCurrencyCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
  <div style="padding: 15px;"><button  *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/currencies/import'>Manage Currencies</button></div>
</bst-custom-paginator>
<mat-table #table [dataSource]="dataSource" matSort matSortActive="currencyName" matSortDirection="desc" matSortDisableClear>
  <ng-container matColumnDef="currencyName">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Currency Name</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["currencyName"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="currencyCode">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Currency Code</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["currencyCode"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="currencySymbol">
    <ng-container>
      <mat-header-cell *matHeaderCellDef>Currency Symbol</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item["currencySymbol"]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="available">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Available</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item">
      <ng-container *ngIf="item['available']"><mat-icon>check</mat-icon></ng-container>
      <ng-container *ngIf="!item['available']"><mat-icon>close</mat-icon></ng-container>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['currencyName', 'currencyCode', 'currencySymbol', 'available']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['currencyName', 'currencyCode', 'currencySymbol', 'available'];"></mat-row>
</mat-table>
<bst-custom-paginator
               [length]="dataSource.totalCurrencyCount$ | async"
               [pageSize]="appConfig.defaultPageSize"
               [pageSizeOptions]="appConfig.choosablePageSizes"
               [showFirstLastButtons]="true"
               (page)="changePage($event)">
</bst-custom-paginator>
