<h3>Synchronization Results</h3>

<strong>Total Number of Postings: </strong> {{syncTask.totalItems}}
<br>

<strong>Postings with PO Match: </strong> {{syncTask.matchedPo}}<br>
<strong>Postings without PO Match: </strong> {{syncTask.unmatchedPo}}<br>

<ng-container *ngIf="syncTask.errorMessages.length > 0">
  <h4>Error Messages</h4>
  <ul>
    <li *ngFor="let errorMessage of syncTask.errorMessages">
      {{errorMessage}}
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="syncTask.errorMessages.length == 0">
  <h4>No Errors</h4>
</ng-container>

