<h3>Import Results of {{importTask.fileName}}</h3>
<strong>Status:</strong> {{importTask.importStatus}}<br>

<strong>Total Number of
  Records: </strong> {{importTask.importResult.errorCount + importTask.importResult.updatedCount + importTask.importResult.insertedCount + importTask.importResult.deletedCount}}
<br>
<strong>Records Inserted: </strong> {{importTask.importResult.insertedCount}}<br>
<strong>Records Updated: </strong> {{importTask.importResult.updatedCount}}<br>
<strong>Records Deleted: </strong> {{importTask.importResult.deletedCount}}<br>
<strong>Records not Imported: </strong> {{importTask.importResult.errorCount}}<br>
<div *ngIf="importTask.errorMessage"><strong>General Error:</strong> {{importTask.errorMessage}}</div>

<h4>Warning Messages</h4>
<ul>
  <li *ngFor="let warningMessage of importTask.importResult.warningMessages">
    {{warningMessage}}
  </li>
</ul>

  <h4>Error Messages</h4>
<mat-dialog-content>
  <ul>
    <li *ngFor="let errorMessage of importTask.importResult.errorMessages">
      {{errorMessage}}
    </li>
  </ul>
</mat-dialog-content>

