<h3>Edit PO Line Details</h3>
<mat-dialog-content>
  <bst-purchase-order-position-form
    [position]="data.position"
    [purchaseOrderPosition]="data.purchaseOrderPosition"
    [country]="data.country"
    [referenceProject]="data.referenceProject"
    (submit)="onSubmit($event)"
    (cancel)="onCancel()"
    [disabled]="data.disabled"
  >
  </bst-purchase-order-position-form>
</mat-dialog-content>
