@import '../../../../../themes/bmg-first';

$accentPalette: map-get($bmg-bst-theme, accent);

.mat-cell, .mat-header-cell {
  padding: 0.1rem 0.5rem;
  font-size: 12px;
}

.mat-row {
  min-height: 3rem;
}

.mat-row:hover {
  cursor: pointer;
  background-color: mat-color($accentPalette, 100);
}

.mat-column-position {
  flex-grow: 0;
  flex-basis: 1rem;
}

.mat-column-quantity {
  flex-grow: 0;
  flex-basis: 4rem;
}

.mat-column-price {
  flex-basis: 6rem;
  flex-grow: 0;
}

.mat-column-total {
  flex-grow: 0;
  flex-basis: 8rem;
}


