<mat-table #table [dataSource]="positions">
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element;let i=index"> {{i+1}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> Project</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.project?.projectName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="spendType">
    <mat-header-cell *matHeaderCellDef> Spend Type</mat-header-cell>
    <mat-cell *matCellDef="let element"><bst-purchase-order-position-spend-type [country]="element.poCountry" [spendType]="element.spendType"></bst-purchase-order-position-spend-type></mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>PO Value (ex. VAT) / Price</mat-header-cell>
    <mat-cell *matCellDef="let element"><bst-currency-value-display [value]="element.price"></bst-currency-value-display></mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
    <mat-cell *matCellDef="let element"><bst-currency-value-display [value]="element.total" [maxDecimalPlaces]="2"></bst-currency-value-display></mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="serviceMonth">
    <mat-header-cell *matHeaderCellDef>Service Month</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.serviceMonth}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button *ngIf="!disabled" mat-icon-button color="accent" (click)="addPosition.emit()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let $index=index">
      <bst-purchase-order-position-warnings-button [purchaseOrderPosition]="element"></bst-purchase-order-position-warnings-button>
      <button *ngIf="purchaseOrder.id" mat-icon-button (click)="showCodingRules($event, $index, purchaseOrder, element)">
        <mat-icon>assignment</mat-icon>
      </button>
      <bst-purchase-order-position-notes-button
        [group]="group" [index]="$index" [purchaseOrderPosition]="element"></bst-purchase-order-position-notes-button>
      <bst-purchase-order-position-attachments-button
        [purchaseOrderPosition]="element"
      ></bst-purchase-order-position-attachments-button>
      <button *ngIf="element.deletable" mat-icon-button (click)="handleDelete($index, $event)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

  <mat-row *matRowDef="let row; columns: columnsToDisplay;let $index=index" (click)="editPosition.emit($index)"></mat-row>
</mat-table>
