<form [formGroup]="positionForm" fxLayout="column" fxLayoutGap="0.5rem" (submit)="onSubmit($event)" cdkFocusRegionStart>
  <mat-form-field *ngIf="position > 0">
    <input type="text" placeholder="Project" matInput bstForceAutocomplete formControlName="project" [matAutocomplete]="autoProject">
    <mat-autocomplete #autoProject="matAutocomplete" [displayWith]="displayProject" autoActiveFirstOption>
      <mat-option *ngFor="let option of filteredProjects | async" [value]="option">
        {{ option.projectName }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="positionForm.get('project').invalid">Please enter a valid Project</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Spend Type" matInput bstForceAutocomplete formControlName="spendType" [matAutocomplete]="autoSpendType">
    <mat-autocomplete #autoSpendType="matAutocomplete" [displayWith]="displaySpendType" autoActiveFirstOption>
      <mat-option *ngFor="let spendType of filteredSpendTypes | async" [value]="spendType">
        {{ spendType.budgetSpendTypeCode }} - {{ spendType.title }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="positionForm.get('spendType').invalid">Please enter a valid Spend Type</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="poCountry" placeholder="PO Country" [compareWith]="compareResources">
      <mat-option *ngFor="let country of countryService.poCountries | async" [value]="country">
        {{country.countryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <input formControlName="price" matInput placeholder="PO Value (ex. VAT) / Price" required>
    <mat-error *ngIf="positionForm.get('price').invalid">{{getValueErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="number" formControlName="quantity" matInput placeholder="Quantity" required>
    <mat-error *ngIf="positionForm.get('quantity').invalid">Value must be between 1 and 999999</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea type="text" formControlName="description" matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Service Month" formControlName="serviceMonth" required>
    <mat-error *ngIf="dateFormControl.hasError('date') && !dateFormControl.hasError('required')">
      Please enter a valid Service Month (e.g. MAR-2018 or March 2018). The Service Month must not be in the past.
    </mat-error>
    <mat-error *ngIf="dateFormControl.hasError('required')">
      Service Month is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <bst-purchase-order-position-attachments
    [purchaseOrderPosition]="purchaseOrderPosition"
    (onDeleteAttempt)="deleteAttachment($event)"
  ></bst-purchase-order-position-attachments>
  <span>
   <button mat-raised-button (click)="onCancel($event)" type="button">{{ disabled ? 'Close' : 'Cancel'}}</button>
   <button *ngIf="!disabled" type="submit" mat-raised-button color="accent">Save</button>
  </span>

</form>
