<div *ngIf="dataSource.loading$ | async">
  <bst-loading-spinner-overlay></bst-loading-spinner-overlay>
</div>
<bst-custom-paginator
  [length]="dataSource.totalRawPostingCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
  <div class="paginator-container">
    <span>
      <button *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" routerLink='/raw-postings/import'
              style="margin-right: 15px">Manage Raw Postings
      </button>
      <button *hasRole="'bmg-spendtracker-admin'" mat-raised-button color="accent" (click)="syncPos()"
              [disabled]="syncInProgress">Sync Postings</button>
    </span>
    <span class="syncCompletedText" *ngIf="progress >= 100">
      Status: Synchronization Complete
    </span>
    <span class="syncCompletedButton" *ngIf="progress >= 100">
      <button mat-raised-button color="accent" (click)="openSyncResultDialog()">Show Results</button>
    </span>
      <mat-progress-bar *ngIf="syncTask && progress < 100"
                        class="syncProgressBar"
                        color="accent"
                        [mode]="determinate"
                        [value]="progress"
                        matTooltip="{{syncTask?.processedItems + syncTask?.errorMessages?.length}} / {{syncTask?.totalItems}}"
      >
      </mat-progress-bar>
  </div>
</bst-custom-paginator>
<mat-table #table [dataSource]="dataSource" matSort matSortActive="uniqueKey" matSortDirection="desc"
           matSortDisableClear>
  <ng-container matColumnDef="uniqueKey">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>UniqueKey</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.uniqueKey}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="poNumber">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Po-Number</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.poNumber}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="projectId">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project-Id</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.projectId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="text">
    <ng-container>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Text</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let item"> {{item.text}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
</mat-table>
<bst-custom-paginator
  [length]="dataSource.totalRawPostingCount$ | async"
  [pageSize]="appConfig.defaultPageSize"
  [pageSizeOptions]="appConfig.choosablePageSizes"
  [showFirstLastButtons]="true"
  (page)="changePage($event)">
</bst-custom-paginator>
