bst-custom-paginator {
  .paginator-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  span{
    display: flex;
  }
  .syncProgressBar {
    margin: 1rem;
    align-items: center;
    text-align: center;
  }

  .syncCompletedText {
    font-size: 0.9rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .syncCompletedButton {
    button {
      border-radius: 2rem;
      padding: 0.1rem;
      font-size: 0.8rem;
    }
  }
}
