<h3 mat-dialog-title>
  <span *ngIf="!data.item.id">Create </span>
  <span *ngIf="data.item.id">Edit </span>
  Exchange Rate
</h3>

<mat-dialog-content>
  <bst-exchange-rate-detail
    [exchangeRate]="data.item"
    (onItemChange)="itemChanged($event)"
    (onStatusChange)="statusChanged($event)"
  >
  </bst-exchange-rate-detail>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="accent" [disabled]="!formValid" (click)="save()">Save</button>
</mat-dialog-actions>
